// colors
$primary: #AC0000;
$primary-gradient: linear-gradient(#AC0000 0%, #000000 100%);

$secondary: #FFF;
$secondary-gradient: linear-gradient(180deg, #FFFFFF 0%, #3A3A3A 100%);

$grey: #8F8F8F;
$light: #2B2B2B;

$heading-color: #FFF;
$paragraph-color: #D0D0D0;

$background-color: #000;
$background-color-lighter: #0b0b0b;

$screen-max: 1000px;
$screen-med: 700px;
$screen-min: 500px;