@import "../general/main";

body {
  background: $background-color;
}

.container {
  height: 100%;
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.heading {
  width: 600px;

  @media (max-width: $screen-med) {
    width: 400px;
    margin-top: -250px;
  }
  
  @media (max-width: $screen-min) {
    width: 300px;

    .btn {
      font-size: 16px;
    }
  }

  &__title {
    font-size: 100px;
    color: #FFF;
    margin: 0;

    &-inner {
      color: $grey;
    }

    @media (max-width: $screen-max) {
      font-size: 80px;
    }

    @media (max-width: $screen-min) {
      font-size: 60px;
    }
  }

  &__description {
    margin-left: 5px;
    margin-top: 15px;
    color: #757575;
    font-size: 35px;
    font-weight: bold;
    font-style: italic;
    width: 550px;

    @media (max-width: $screen-max) {
      font-size: 30px;
      width: 450px;
    }

    @media (max-width: $screen-med) {
      width: 400px;
    }

    @media (max-width: $screen-min) {
      width: 300px;
      font-size: 24px;
    }
  }
}

[data-follow] {
  transition: 100ms all linear 0s;
}

.follow {
  &__background {
    position: absolute;
    height: 500px;
    width: 500px;
    background: $primary-gradient;
    right: 0;
    bottom: 0;
    margin: 0 -100px -100px 0;
    border-radius: 100%;

    @media (max-width: $screen-max) {
      height: 400px;
      width: 400px;
    }
  }

  &__foreground {
    position: absolute;
    height: 200px;
    width: 200px;
    background: $secondary-gradient;
    right: 150px;
    bottom: 100px;
    border-radius: 100%;
    box-shadow: 12px 15px 28px rgba(0, 0, 0, 0.23);

    @media (max-width: $screen-max) {
      height: 150px;
      width: 150px;
    }
  }
}
